:root {
  box-sizing: border-box;
  font-size: calc(0.1em + 1vw);

  --color-bg: #861349;
  --color-text: #f7cbb5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Otto Attac';
  font-weight: 300;
  src: url('fonts/OTTOATTACTYPE.ttf');
}

@font-face {
  font-family: 'Agrandir Wide';
  src: url('fonts/Agrandir-WideLight.otf');
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

body {
  font-family: 'Agrandir Wide', sans-serif;
  line-height: 1.4;
  text-align: center;
  color: var(--color-text);

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Otto Attac', serif;
  font-size: 6rem;
  line-height: 1;

  margin: 0;
}

#login h1 {
  margin-bottom: 1em;
}

button {
  font-family: inherit;
  background: none;
  font-size: 1em;
  color: inherit;
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-text);
  display: block;
}

.inner-link {
  width: 10em;
  padding: 0.75em 0;
  margin-top: 5em;

  align-self: center;

  border: 1px solid var(--color-text);
  border-radius: 2em;
}

p {
  font-size: 1.25rem;
  max-width: 16.5em;
  margin: 0 auto;
  line-height: 1.45;
}

p + p {
  margin-top: 1em;
}
.round {
  position: absolute;

  width: 6.25em;
  height: 6.25em;
  border-radius: 100%;

  pointer-events: auto;
  filter: grayscale(1);
  transition: filter 0.5s ease;
}

.round:hover {
  filter: grayscale(0);
}

/* Placing images on the homepage */
.round:nth-of-type(1) {
  top: 6vh;
  left: 32vw;
}
.round:nth-of-type(2) {
  top: 20vh;
  left: 8vw;
}
.round:nth-of-type(3) {
  top: 50vh;
  left: 16vw;
}
.round:nth-of-type(4) {
  top: 80vh;
  left: 24vw;
}
.round:nth-of-type(5) {
  top: 88vh;
  left: 50vw;
}
.round:nth-of-type(6) {
  top: 64vh;
  left: 80vw;
}
.round:nth-of-type(7) {
  top: 40vh;
  left: 90vw;
}
.round:nth-of-type(8) {
  top: 6vh;
  left: 60vw;
}
.round:nth-of-type(9) {
  top: 12vh;
  left: 82vw;
}

/* Login Page */
.login {
  h1 {
    margin-bottom: 0.5em;
  }

  a {
    margin-top: 2em;
  }
}

/* Results Page */
.score {
  font-family: 'Agrandir Wide', sans-serif;
  font-size: 2.5rem;
}

.ranking {
  font-family: 'Otto Attac', Georgia, serif;
  font-size: 6rem;
  line-height: 1;

  display: flex;
  flex-direction: column;
  margin: 0.5em 0;

  span {
    font-family: 'Agrandir Wide', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;

    margin-bottom: 1.1428em;
  }
}

.wiper {
  font-family: 'Otto Attac', Georgia, serif;
  font-size: 24rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ff935c;
  color: var(--color-bg);
}

.wiper span {
  animation: pulse 2s cubic-bezier(0.48, 0.1, 0.58, 0.89) infinite;
}

@media screen and (max-width: 65em) {
  body {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 40em) {
  body {
    font-size: 3.2rem;
  }

  h1 {
    font-size: 12.75rem;
  }

  .inner-link {
    margin-top: 2.5em;
  }

  p {
    font-size: 3.8rem;
  }

  .round {
    width: 4em;
    height: 4em;
  }

  /* Results Page */
  .score {
    font-size: 8rem;
  }

  .ranking {
    font-size: 12rem;

    span {
      font-size: 2.8rem;
      margin-bottom: 0.75em;
    }
  }

  .round {
    display: none;
  }
}
