---
permalink: tracks.json
---
[
    {%- for trackID in beyonce -%}
        "{{ trackID }}"
        {%- if loop.last == true -%}

        {%- else -%}
            ,
        {%- endif -%}
    {%- endfor -%}
]