{% extends "./base.html" %} {% block content %}
<h1>Beyond-C</h1>
<a href="login/" class="inner-link">{{ linkText }}</a>
<img
  class="round"
  src="static/images/bday.jpg"
  alt="Beyoncé B-day album cover"
/>
<img
  class="round"
  src="static/images/dangerously-in-love.png"
  alt="Beyoncé Dangerously in Love album cover"
/>
<img
  class="round"
  src="static/images/sasha-fierce.png"
  alt="Beyoncé Sasha Fierce album cover"
/>
<img class="round" src="static/images/4.png" alt="Beyoncé 4 album cover" />
<img
  class="round"
  src="static/images/self-titled.png"
  alt="Beyoncé self-titled album cover"
/>
<img
  class="round"
  src="static/images/lemonade.png"
  alt="Beyoncé Lemonade album cover"
/>
<img
  class="round"
  src="static/images/everything-is-love.jpg"
  alt="Beyoncé Everything is Love album cover"
/>
<img
  class="round"
  src="static/images/homecoming.png"
  alt="Beyoncé Homecoming album cover"
/>
<img
  class="round"
  src="static/images/lionking.jpg"
  alt="Lion King live movie album artwork"
/>
{% endblock %}
